In [39]:
import pandas as pd
import numpy as np
import re

In [9]:
df = pd.read_csv('data.csv')
df

,Tijdstempel,What type of chocolate do you prefer?,What kind of mobile phone do you own?,What is your gender?,What is your nationality?,How did you travel to university today?,What subject are you majoring in?,How often do you check Facebook?,How many pairs of trousers do you own?,What is the most you ever paid for trousers?,What annual income do you expect to be earning in ten years’ time?,What do you think the average income for the class with be in ten years’ time?,What is the ideal age to get married?,When did you start your studies at Fontys?
0,8-9-2016 13:20:59,dark,iPhone,Male,Dutch,"Bike, train & bus",Software Engineering,What is facebook,1,60,infinity,less than infinity,NaN,1111
1,8-9-2016 13:20:59,Milk,Samsung,Male,Dutch,Car,Software Engineering,Daily,Plenty,A small loan of a million dollars,A small loan of a million dollars,"Very low, they suck",NaN,2012
2,8-9-2016 13:21:01,dark,lg,male,dutch,train,mathematics,50 per day,6,130,100000,40000,NaN,2012
3,8-9-2016 13:21:05,Chocolate,I made my own,Male,Dutch,Train,Software,Never,1,50,10000000,40000,NaN,1321
4,8-9-2016 13:21:06,Milk,Android,M,Dutch,Bike,Computer Science,Multiple times per day,8,200,40000,30000,NaN,2012
5,8-9-2016 13:21:11,Dien echte,D´ne Samsung ey,Manneke Pis,Vlaming,Met Dn benenwoagen,Vlaams,Fransen zijn verraders,Frankrijk,EnnEuro,Vlaamse frittekes,Raketijsjes,NaN,Trump
6,8-9-2016 13:21:14,White,HTC One M8,Male,Dutch,Bycicle,Business Informatics,2 times a day,7,80€,1.000.000€,3€,NaN,"Fall, 2012"
7,8-9-2016 13:21:15,White,Iphone,Female,Dutch,Bicycle,Mathematical Engineering,0,5,NaN,NaN,NaN,NaN,2013
8,8-9-2016 13:21:19,Dark,Galaxy S5,!@#$%^&*(),Mario,On foot,Drawing Pingas,Never.,Enough for a week,Bargain price,Googolplex Euros,Beggars change,NaN,2014
9,8-9-2016 13:21:20,hazelnut,LG Nexus 5x,Man,Dutch,I did not travel to a university,ads-gcd,20 times a day,7,35 euro's,45000,40000,NaN,2013
10,8-9-2016 13:21:20,Brown,iPhone 6,Male,Dutch,Train,Software Engineering,A lot,6,100 euro,25.000,25.000,NaN,2013
11,8-9-2016 13:21:32,puur,motorola,vrouw,Nederlands,trein,NaN,dagelijks,5,100 euro,2500 euro,2800 euro,NaN,2013
12,8-9-2016 13:21:42,Blacker than the blackest black,Smangsmung,Trans-Gender,Nederlands,Segway,Googling,never,239919,10,trillions,"not, unemployed",NaN,6 years ago
13,8-9-2016 13:21:50,White,Samsung Galaxy Mini S5,Male,Dutch,Bus,ICT & Business,Daily,A lot,80 Euro,65.000 Euro,35.000 Euro,NaN,September 2013
14,8-9-2016 13:21:51,Melk,Samsung,Man,Nederlands,Bus,Software,5x per dag,15,€200,€4.000,€3.000,NaN,2012-2013
15,8-9-2016 13:21:56,White,Android,Male,Dutch,Bus,Software Engineering,Not often,7,€50,€50.000,No clue,NaN,February of 2014
16,8-9-2016 13:22:04,Milk,Samsung,Male,NL,Bus,Software Engineering,Never,8,200,50k,50k,NaN,2012
17,8-9-2016 13:22:11,Milk,Samsung galaxy s6,Male,Netherlands,Public transport,ICT,daylie,12,40,40000,2,NaN,4 years ago
18,8-9-2016 13:22:11,Dark,Nokia 735,Male,Dutch,Bicycle,Media Design,Often,10+,"€150,-",50000,50000,NaN,2013
19,8-9-2016 13:22:13,Pure,LG,Female,Dutch,By car,Mathematical engineering,One time an hour,9,90 euros,Eh no idea,No idea,NaN,2013
20,8-9-2016 13:22:14,Que Puur,Que Galaxy S7 Edge,Que Man,Que Nederlands,Que Bus,Que Software Engineering,Quattro,Sette,centocinquanta,milioni,mille,NaN,Que duemiladodici
21,8-9-2016 13:22:26,Dark,Android,Male,Dutch,Car,Software Engineering,2 times,Acht,"$99,99",￥375000,€50.000,NaN,20
22,8-9-2016 13:22:53,pure,iphone,male,dutch,public transport,Software,about once a day,10?????????,60,enough,minimun wage,NaN,2012-2013
23,8-9-2016 13:23:03,Pure,Apple,Male,Netherlands,by train,Software Engineer,20938 times a day,7,tientje,60.000,60.000,NaN,2013
24,8-9-2016 13:23:16,White,LG,Female,Dutch,Car,Mathematical Engineering,10,9,250,50000,4000,NaN,2013
25,8-9-2016 13:23:39,White,Sony Xperia z5 premium,Male,Dutch,by train,Software Engineering,Every 15 minutes,5,100 euro,50.000 euro,35.000 euro,NaN,September 2013
26,8-9-2016 13:23:45,Milk,Samsung,Male,Dutch,Bike,Software,Once a day,10,"€80,-",€120.000,€90.000,NaN,2012
27,8-9-2016 13:24:11,Milk,LG G4,Man,Dutch,Bus,Software Engineering,5-10x a day,8,60 euro,-1000 dollas,-1000 dollas,NaN,2013
28,8-9-2016 13:24:19,Milk,Sony Z3+,Male,Dutch,Bicycle,Business,Daily,12,"€110,-","€40.000,-","€50,000,-",NaN,2011
29,8-9-2016 13:24:24,brown,iphone,male,romanian,walking,ERP,daily,6,80,120.000,100.000,NaN,2014
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
94,6-9-2017 13:00:37,White,Android,Vegan Transgender,extraterrestrial,By Bike,ICT and Business,If you do not put multiple choice answers for ...,I really like that I can type letters instead ...,60,I wanna be a billionaire so freaking bad,Unemployed,NaN,2015
95,6-9-2017 13:01:59,black,smartphone,male,French,Bicycle,Mechanical,More 5/days,5,90,50000,50000,NaN,August 2017
96,6-9-2017 13:02:04,Dark,LG Nexus 5X,Male,Dutch,"By bus, train and foot",Software engineering,15,5,€20,€70.000,€55.000,NaN,2014
97,6-9-2017 13:02:07,Dark chocolate,Nexus,Male,Saudi,Bike,ICT & Software Engineering,Regularly,4,5,I don't know,I don't know,NaN,2015
98,6-9-2017 13:02:11,Dark,Motorola X Style,Man,Dutch,By Car,Software Engineering,once a week,5,100 euro,1.000.000 Euros,500.000 Euros,NaN,2014
99,6-9-2017 13:02:15,none,Iphone,male,Dutch,Bus,Software,42,5,0,50000,50000,NaN,2014
100,6-9-2017 13:02:27,White,Samsung,Male,French,Bike,Data Bases,More than 10 times a day,3,80€,60000,50000,NaN,28/08/2017
101,6-9-2017 13:02:28,Dark,OnePlus3,Male,Dutch,Bike,GCD,10 times a day,10,60 euro's,40.000,40.000,NaN,2014
102,6-9-2017 13:03:01,Melk,iPhone 6s,M,Nederlandse,Fiets,ICT & Technology,Niet zo vaak,Geen idee,25 euro ofzo,Geen idee eigenlijk,Weet ik ook niet,NaN,2014 volgens mij
103,6-9-2017 13:03:36,Milk,Samsung,Male,Dutch,Car,Software,twice a day,10,€180,40000,45000,NaN,2014
104,6-9-2017 13:03:40,black,iPhone 6,male,Dutch,bus,math,too much,4,200 euro,4k,3.5k,NaN,2013
105,6-9-2017 13:03:45,Pure,Android,Male,Dutch,Scooter,Software,once a day,15,€100,€40.000,€35.000,NaN,2014
106,6-9-2017 13:04:30,Black,Sony Xperia E,Male,Dutch,Bicycle,Software Engineering,Never,12,65,A lot,About as much,NaN,2014
107,6-9-2017 13:04:40,white,Motorola,Man,Dutch,Car,Software engineering,2 to 3 times a day,10,110,60.000,60.000,NaN,2014
108,6-9-2017 13:05:10,Pure,OnePlus 5 MasterRace,Male,Dutch,Scooter,Software,once a day,15,€100,€40.000,€35.000,NaN,2014
109,6-9-2017 13:05:16,milk,Samsung S6,Male,Dutch,Car,Software Engineering,To often,15,50,1337000,.01,NaN,2014
110,6-9-2017 13:05:23,Milk,iPhone SE,Male,Dutch,Bike,Software Engineering,Never,4,60,32000,32000,NaN,September 2015
111,6-9-2017 13:05:54,Milk with hazelnoot,Nokia from stenentijdperk,Alpha Male,Dutch,Linkerbaan,Data Science,1,~1337,-10,10000000e1000,googolplex,NaN,2013
112,6-9-2017 13:06:04,Milk,Samsung Galaxy S5,Male,The Netherlands,Bike,Software Engineering,20x a day,15,150,50k,50k,NaN,2014
113,6-9-2017 13:06:07,Milk,Samsung,Male,Dutch,Train,ICT & Software Engineering,Rarely,Some,Dnno,Reasonable,Dnno,NaN,3 years ago
114,6-9-2017 13:06:29,Puur chocolade,Samsung Galaxy A5,Male,Dutch,By Bike,Software Engineering,Once a day,10,60,51k,50k,NaN,2014
115,6-9-2017 13:06:30,Milk,OnePlus 3,Meel,Dutch,Bicycle,Software Engineering,Never,5,80,30000,25000,NaN,September 2014
116,6-9-2017 13:06:50,Nothing,OnePlus,Male,Nederlandse,I was cycling to college,Computer Science,It's open but that pice of shit barely get read,NaN,NaN,NaN,NaN,NaN,IDK
117,6-9-2017 13:06:52,Dark black,Apple iPhone 6 S,Helicopter,Nederlands,By Bycicle and train and bus,Software ontwikkeling,once a hour,Around 5 to 8,100 dollars,80000,40000,NaN,2014
118,6-9-2017 13:06:57,milk,one plus,male,Dutch,"bike, train and bus",Software Engineering,twice a month,3,€60,40000,40000,NaN,2014
119,6-9-2017 13:07:20,NaN,monterola g5 plus,male,dutch,car,software engineering,once every few days,did not count them,dont'know,NaN,NaN,NaN,2014
120,6-9-2017 13:07:29,Nothing,OnePlus,Male,Nederlandse,I was cycling to college,Computer Science,It's open but that pice of shit barely get read,IDK stalker,Fuck these questions,3 million,3000,NaN,IDK
121,6-9-2017 13:09:05,pure white,nokia 3310,transgender,Muslim,Camel,drugs,never,400,10k,50000000kk,1242112kk,NaN,not
122,6-9-2017 13:09:20,triple chocolate oreo,iphone,man,dutch,OV,Data,many,15,150,23403,23402,NaN,2013
123,6-9-2017 15:18:52,Milk,Huawei,Male,Dutch,Public transit,Software,once a day,5,40 EUR,20000 EUR,30000 EUR,NaN,2014

# Cleaning  up the gender column

We check if there are any matches to male or female. We drop the other items

In [37]:
df['What is your gender?'].apply(lambda x: "male" if any(map(lambda w: w in x.lower(), ("man", "male"))) else x).apply(lambda y: "female" if any(map(lambda w: w in y.lower(), ("vrouw", "female"))) else y).apply(lambda x: None if x != 'male' and x !='female' else x)

0        male
1        male
2        male
3        male
4        None
5        male
6        male
7        male
8        None
9        male
10       male
11     female
12       None
13       male
14       male
15       male
16       male
17       male
18       male
19       male
20       male
21       male
22       male
23       male
24       male
25       male
26       male
27       male
28       male
29       male
        ...
94       None
95       male
96       male
97       male
98       male
99       male
100      male
101      male
102      None
103      male
104      male
105      male
106      male
107      male
108      male
109      male
110      male
111      male
112      male
113      male
114      male
115      None
116      male
117      None
118      male
119      male
120      male
121      None
122      male
123      male
Name: What is your gender?, Length: 124, dtype: object

# Cleaning up the trouser column

We try to match a regex

In [76]:
number_filter = re.compile('(\d+)')

def find_num(x):
    matcher = number_filter.match(x)
    if matcher:
        return str(matcher.group(0))
    else:
        return None
df['How many pairs of trousers do you own?'].astype(str).apply(find_num)

0           1
1        None
2           6
3           1
4           8
5        None
6           7
7           5
8        None
9           7
10          6
11          5
12     239919
13       None
14         15
15          7
16          8
17         12
18         10
19          9
20       None
21       None
22         10
23          7
24          9
25          5
26         10
27          8
28         12
29          6
        ...
94       None
95          5
96          5
97          4
98          5
99          5
100         3
101        10
102      None
103        10
104         4
105        15
106        12
107        10
108        15
109        15
110         4
111      None
112        15
113      None
114        10
115         5
116      None
117      None
118         3
119      None
120      None
121       400
122        15
123         5
Name: How many pairs of trousers do you own?, Length: 124, dtype: object