## pandas indexing
In this notebook various DataFrame indexing methods are demonstrated. With these techniques you should be able to do all the required indexing. Some more techniques exist, but the do not really add any value. For instance, we've left out the ix[]  method of indexing as it can lead to ambiguity when using integer labels.
The at[] and iat[] methods have been added because for getting a scalar value from a cell their performance is (said to be) substantially better than their loc[] and iloc[] counterparts.

In [2]:
import numpy as np
import pandas as pd

In [3]:
df = pd.DataFrame(np.arange(1,10).reshape(3,3), index=list('abc'), columns=[c*2 for c in 'ABC'])
df

   AA  BB  CC
a   1   2   3
b   4   5   6
c   7   8   9

#### Get the second column
Result is Series

In [5]:
df['BB']

a    2
b    5
c    8
Name: BB, dtype: int32

In [8]:
df.BB

a    2
b    5
c    8
Name: BB, dtype: int32

In [10]:
df.loc[:,'BB']

a    2
b    5
c    8
Name: BB, dtype: int32

In [11]:
df.iloc[:,1]

a    2
b    5
c    8
Name: BB, dtype: int32

#### Get the second and third column
Result is DataFrame

In [12]:
df[['BB', 'CC']]

   BB  CC
a   2   3
b   5   6
c   8   9

In [14]:
df.loc[:,'BB':'CC']    # both start and stop are included with label slicing!

   BB  CC
a   2   3
b   5   6
c   8   9

In [16]:
df.iloc[:,1:3]         # stop is not included with positional slicing!

   BB  CC
a   2   3
b   5   6
c   8   9

#### Get the second row
Result is Series

In [20]:
df.loc['b']

AA    4
BB    5
CC    6
Name: b, dtype: int32

In [22]:
df.iloc[1]

AA    4
BB    5
CC    6
Name: b, dtype: int32

In [24]:
# this gives the second row as a DataFrame!
df[1:2]

   AA  BB  CC
b   4   5   6

#### Get the second and third row
Result is DataFrame

In [29]:
df[1:3]

   AA  BB  CC
b   4   5   6
c   7   8   9

In [26]:
df.loc['b':'c']

   AA  BB  CC
b   4   5   6
c   7   8   9

In [27]:
df.iloc[1:3]

   AA  BB  CC
b   4   5   6
c   7   8   9

#### Get the dataframe that is intersection of last 2 columns and last 2 rows (the segment [[5,6],[8,9]])
Result is DataFrame

In [30]:
df[['BB', 'CC']][1:3]

   BB  CC
b   5   6
c   8   9

In [32]:
df.loc['b':'c', 'BB':'CC']

   BB  CC
b   5   6
c   8   9

In [33]:
df.iloc[1:3,1:3]

   BB  CC
b   5   6
c   8   9

#### Get the value in the middle cell
Result is scalar

In [38]:
df['BB']['b']

5

In [35]:
df.at['b','BB']

5

In [39]:
df.iat[1,1]

5

In [41]:
df.loc['b','BB']

5

In [42]:
df.iloc[1,1]

5